body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

/* First Screen */
#startScreen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.btnRow button{
padding:12px 25px;
margin:10px;
font-size:18px;
border:none;
border-radius:25px;
cursor:pointer;
}

/* Story Section */
#mainContent{
display:none;
padding:20px;
}

#storyBox{
max-width:600px;
margin:auto;
}

#storyImage{
width:100%;
border-radius:15px;
}

#revealBtn{
margin-top:15px;
background:#ff4081;
color:white;
padding:12px 20px;
border:none;
border-radius:20px;
}

#shayariText{
font-size:20px;
margin-top:15px;
min-height:40px;
}

#finalBtn{
margin-top:40px;
background:gold;
color:black;
padding:15px 25px;
border:none;
border-radius:25px;
font-size:18px;
}

/* Emoji */
.emoji{
position:fixed;
font-size:24px;
animation:floatEmoji 3s linear;
}

@keyframes floatEmoji{
from{transform:translateY(0);}
to{transform:translateY(-100vh);}
}

/* Mobile */
@media(max-width:600px){
h1{font-size:22px;}
#shayariText{font-size:18px;}
}
