body{
margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

/* START SCREEN */
#startScreen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.btnRow button{
padding:12px 25px;
margin:10px;
font-size:18px;
border:none;
border-radius:25px;
cursor:pointer;
}

#mainContent{
display:none;
padding:20px;
}

.imageGrid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.imgCard img{
width:100%;
border-radius:14px;
}

.imgCard button{
margin-top:10px;
width:100%;
background:#ff4081;
color:white;
}

#finalBtn{
margin-top:40px;
background:gold;
color:black;
padding:15px 25px;
border:none;
border-radius:25px;
font-size:18px;
}

/* emoji rain */
.emoji{
position:fixed;
font-size:24px;
animation:floatEmoji 3s linear;
}

@keyframes floatEmoji{
from{transform:translateY(0);}
to{transform:translateY(-100vh);}
}
